$font-family: 'Playfair Display', serif;
.cast-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 30px;
    margin-right: -10px;
}

.parts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
    margin-right: 20px;
   
}
.movie-details{
    background-color: #333;
    font-family: $font-family;
    font-size: 15px;
    h1{
        color: white;
        margin-left: 20px;
    }
    h2{
        color: white;
        margin-left: 20px;
    }
    li{
        color: white;
    }
    p{
        color: white;
    }
    a{
        color: white;
    }
   
}
.movie-img{
    width: 330px;
}
.trailers-part{
    display: flex;
    gap: 20px;
    flex-direction: column;

    .trailer-class{
        width: 650px;
        height: 350px;

    }
}

@media screen and (max-width:900px) {
    .show-img{
        width: 55%;
    }
    .parts{
        display: block;
    }
    .cast-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .trailers-part{
        display: flex;
        flex-direction: column;
    }
    
    .trailer-class{
        width: 350px !important;
        height: 250px !important;

    }
}
@media screen and (max-width:450px) {
    .show-img{
        width: 35%;
    }
    .parts{
        display: block;
    }
    .cast-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .trailers-part{
        display: flex;
        flex-direction: column;
    }
    
    .trailer-class{
        width: 250px;
        height: 150px;

    }
}