
.container{
    position:relative; 
    width: 1700px;
    height: 720px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(45deg,#ffaf00, #bb02ff);


    .card{
        position: relative;
        width: 300px;
        height: 420px;
        background-color: #fff;
        margin: 20px;
        border-radius: 20px;
        overflow: hidden;
        transition: .2s ease-in-out;

    }

}

.container .card.blured {
    filter: blur(20px);
    transform: scale(.9);
    opacity: .5;
}

.container .card:hover .circle {
     clip-path: circle(600px);
};

.container .card:hover .content p {
     color: #fff;
};
.container .card:hover .content a {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2), -1px 1px 2px rgba(255, 255, 255, .4);
};

.container .card .content a:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .1), 
    inset 5px 5px 5px rgba(0, 0, 0, .04), 
    inset -5px -5px 5px rgba(255, 255, 255, .07), 
    inset -1px -px 2px rgba(255, 255, 255, .4);
};
.container .card .circle {
    position: relative;
    width: 100%; 
    height: 100%;
    background: #2643c4;
    clip-path: circle(180px at center 0);
    text-align: center;
    transition: 1s ease-in-out;
};

.container .card h2 {
    color: #fff;
    font-size: 3.5em;
    padding: 10px 0;
    
};
    
.container .card .content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
};
    
.container .card .content p {
    color: #666 !important;
    transition: 2s ease-in-out;
}
    
.container .card .content a {
    position: relative; display: inline-block;
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
    transition: .8s ease-in-out;
    color: white;
};

.container .card .content a {
    color: white;
}

.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a { 
    background: #ffaf00;
}

.container .card:nth-child(1):hover .content a { 
    background: rgb(13, 14, 18);
    color: #ffaf00;
}

.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a {
     background: #cd17b4;
}

.container .card:nth-child(2):hover .content a {
    background: rgb(13, 14, 18);
    color: #da2268;
}

.container .card:nth-child(3) .circle, 
.container .card:nth-child(3) .content a {
     background: #0a6193;
}

.container .card:nth-child(3):hover .content a {
    background: rgb(13, 14, 18);
    color: #bb02ff;
}

@keyframes colorChange {

    0% { 
        color: #fff;
    }

    50% { 
        color: #b1b493;
    }

    80% { 
        color: #4f8a8b;
    }

    100% {
        color: #fff;
    }
};

.subp{
    color:#666 !important;
    font-weight: bold;
}
subscribe-btn{
    color: black;
}