.movie-list-all{
    background-color: #222;
    .moviesList, .tvShowsList {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    
        img{
            width: 90%;
            height: 80%;
        }
    }
}

.castInfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .castImage{
        width: 50%;
    }
}