$font-family: 'Playfair Display', serif;
.movie-list {
  font-family: $font-family;
  color: rgb(13, 139, 174);
  font-style: oblique;
  background-color: #222 !important;

  p{
    color: white !important;
  }

  h1{
    display: flex;
    justify-content: center;
  }
}
.pagination{
  display: flex;
  justify-content: center;
  color: rgb(13, 139, 174);
  margin-top: 30px;
  margin-bottom: 30px;

  button{
    border-radius:10px;
    border-color: black;
    width: 50px;
    height: 30px;
  }


}

.movie-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
}

.movie-item {
  width: 100%; 
  box-sizing: border-box;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
  }

  p {
    width: 100%;
    font-size: 14px; 
    color: #555; 
    margin-top: 10px; 
  }
}
a{
  color: white !important;
}