$font-family: 'Playfair Display', serif;
.tvshow-details{
    font-family: $font-family;
    h1{
        color: white;
    }
    h2{
        color: white;
    }
    li{
        color: white;
    }
    p{
        color: white;
    }
   
}
.show-img{
    width: 50%;
}

.tvshow-details-all{
    background-color: #222;
}