
.form-container {
    display: flex;
    justify-content: center;
    
  .all-forms {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 650px;
      height: 700px;
      border: 5px solid #0958d9;
      padding: 50px;
      margin: 20px;
      background-color:lightblue;
      font-style: oblique;
      font-weight: bold;
      font-size: 25px !important;
      border-radius: 50px;
    
  }

  .ant-select-selection-item {
    padding-inline-end: 46px !important;
  }
}

.register-background{
  position: absolute;
  opacity: 20%;
}